<!DOCTYPE html>
<html class="active_error">
  <head>
    <title>Errors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
      .active_error body {
        background-color: #FAFAFA;
        color: #333;
        color-scheme: light dark;
        supported-color-schemes: light dark;
        margin: 0px;
      }

      @media (prefers-color-scheme: dark) {
        .active_error body {
          background-color: #222;
          color: #ECECEC;
        }
      }

      .active_error body, .active_error p, .active_error ol, .active_error ul, .active_error td {
        font-family: helvetica, verdana, arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
      }

      .active_error .button-as-link {
        border: none;
        text-decoration: underline;
        cursor: pointer;
        background: none;
        font-size: 15px;
        margin: 0;
        padding: 0;
        line-height: 18px;
      }

      .active_error a, .active_error .button-as-link { color: #980905; }
      .active_error a:visited, .active_error .button-as-link:visited { color: #666; }
      .active_error a.trace-frames {
        color: #666;
        overflow-wrap: break-word;
      }
      .active_error a:hover, .active_error .button-as-link:hover, .active_error a.trace-frames.selected { color: #C00; }
      .active_error a.summary:hover { color: #FFF; }

      .active_error th {
        padding-bottom: 5px;
      }

      .active_error td {
        padding: 0 5px 7px;
      }

      .active_error #notice {
        color: green;
        margin: 0px;
      }

      .active_error header {
        color: #f0f0f0;
        background: #C00;
        padding: 0.5em 1.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.83em;
      }

      .active_error h1 {
        flex: 1;
        overflow-wrap: break-word;
        margin: 0.2em 0;
        line-height: 1.1em;
        font-size: 2em;
      }

      .active_error table {
        padding: 0 1.5em;
        width: 100%;
      }

      .active_error table tr td:first-of-type {
        padding-left: 0;
      }

      .active_error .w-5 {
        width: 5%;
      }

      .active_error .w-15 {
        width: 15%;
      }
    </style>
  </head>
  <body><%= yield %></body>
</html>
