<!DOCTYPE html>
<html class="active_error">
  <head>
    <title>Errors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "activeerror/application" %>
  </head>
  <body><%= yield %></body>
</html>
