.actionerror {
  body {
    background-color: #fff;
    color: #333;
    margin: 0; }

  body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px; }

  a {
    color: #000; }

  a:visited {
    color: #666; }

  a:hover {
    color: #fff;
    background-color: #000; }

  th {
    padding-bottom: 5px; }

  td {
    padding: 0 5px 7px;
    font-size: 15px; }

  #notice {
    color: rgb(211, 240, 183); }

  header {
    color: #F0F0F0;
    background: #C52F24;
    padding: 0.5em 1.5em;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.83em;
  }
  h1 {
    flex: 1;
    margin: 0.2em 0;
    line-height: 1.1em;
    font-size: 2em;
  }
  table {
    padding: 0 1.5em;
    width: 100%;

    tr td:first-of-type {
      padding-left: 0;
    }
  }
  .w-5 {
    width: 5%;
  }
  .w-15 {
    width: 15%;
  }
}
