@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 400;
  src: url('./calibre-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 400;
  src: url('./calibre-regular-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 600;
  src: url('./calibre-semibold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 600;
  src: url('./calibre-semibold-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 700;
  src: url('./calibre-bold.woff2') format('woff2');
  font-display: swap;
}

.active_error {
  body {
    background-color: #fff;
    color: #333;
    margin: 0px;
  }

  body, p, ol, ul, td, input {
    font-family: helvetica, verdana, arial, sans-serif;
    font-size:   15px;
    line-height: 18px;
    font-family: 'Calibre';
  }

  header {
    color: #D30001;
    background: rgb(238, 231, 233);
    padding: 7.5px 22.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    flex: 1;
    overflow-wrap: break-word;
    margin: 0.2em 0;
    line-height: 1.1em;
    font-size: 30px;
  }

  #notice {
    font-family: 'Calibre';
    color: #000;
    margin: 0px;
    font-size: 20px;
  }

  table {
    margin: 0;
    border-collapse: collapse;
    word-wrap:break-word;
    table-layout: auto;
    width: 100%;
  }

  .tr {
    border-bottom: 3px solid rgba(38,27,35,0.1);
    display: grid;
    grid-template-columns: 10px 70px 1fr 215px 150px 180px;
    align-items: center;

    .all-cols {
      grid-column: span 6 / span 6;
      margin-bottom: 10px;

      &> div {
        display: grid;
        grid-template-columns: 1fr 215px 300px;
        margin-left: 110px;
        flex-direction: row;

        &> div {
          padding-right: 5px;
        }
        div {
          margin: 3px 0px;

          a {
            word-break: break-all;
          }
        }
      }
    }

    a {
      color: #261B23;
      &:hover {
        color: #D30001;
      }
    }

    .td {
      font-family: 'Calibre';
      font-size: 20px;

      &.chevron {
        padding: 0px;
        padding-left: 3px;
        cursor: pointer;
        font-size: 14px;
        &.rotate {
          transform: rotate(90deg);
        }
      }

      &.location {
        display: flex;
        flex-direction: column;

        span {
          font-size: 16px;
          margin-top: 10px;
        }
      }
    }
  }

  .tr:nth-child(even) {
    background: rgb(238, 231, 233);
  }

  .tr .td {
    padding: 10px 30px;
  }

  .button-as-link {
    border: none;
    text-decoration: none;
    cursor: pointer;
    background: none;
    font-size: 20px;
    margin: 0;
    padding: 7px 25px;
    line-height: 18px;
    color: #fff;
    border-radius: 9999px;
    background-color: #D30001;
  }
}

.hidden {
  display: none;
}
